<h1 class="site-heading text-center text-white d-none d-lg-block">
  <span class="site-heading-upper text-primary mb-3">Everyone Deserves A Safe Space to Sleep</span>
  <span class="site-heading-lower"><b>Sleep Safe</b></span>
  <br>
  <span class='site-heading-upper text-primary'><b>Shelters Near You</b></span>
</h1>

<section class='shelters'>
  <% @shelters.each do |shelter| %>
  <div class = 'shelter'>
    <h3 class='name'> <%= link_to shelter.name, shelter_path(shelter) %></h3>
    <p class='phone_number'> Phone: <%= shelter.phone_number %></p>
    <p class='address'> <%= shelter.address %></p>
  </div>

  <% end %>
</section>
