<h1>Shelters Near You</h1>

<section class='shelters'>
  <ul class = 'shelter'>
  <% facade.shelters.each do |shelter| %>

    <h3 class='name'> <%= link_to shelter.name, shelter_path(shelter) %></h3>
    <li class='phone_number'> Phone: <%= shelter.phone_number %></li>
    <li class='address'> <%= shelter.address %></li>
  </ul>

  <% end %>
</section>
