
<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Everyone Deserves A Safe Space to Sleep</span>
    <span class="site-heading-lower"><b>Sleep Safe</b></span>
  </h1>


  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <!-- <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://blackrockdigital.github.io/startbootstrap-business-casual/img/intro.jpg" alt=""> -->
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Your Sleep is</span>
            <span class="section-heading-lower">Our Mission</span>
          </h2>
          <p class="mb-3">To Provide a resourse that helps you find a safe space for a good nights sleep no matter where in the world you are.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="#"> Sign Up Today!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Our Promise</span>
              <span class="section-heading-lower">To You</span>
            </h2>
            <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>




</body>
